
.header {
  overflow: hidden;
  padding: 20px 10px;
  position: fixed;
  z-index: 2;
  background-color: var(--header-white);
  width: 100%;
}
/* Style the header links */
.header a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #FFDBAC;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #A825FF;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
    font-size: 32px;
  }
} 
.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
  color: black;
  text-align: left;
}
  .footer {
  padding: 20px;
  text-align: left;
  background: var(--header-white);
}
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
.hero-text {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.hero-image {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
h1 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
h2 {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
}
p {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  text-align: center;
}
.sidebar {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
  body {
  background-color: #FAF2FF;
}
h1 {  
color: white;
}
h2 {  
      font-family: 'ABeeZee';
      font-size: 36px;
}
p {
      font-family: 'ABeeZee';
      font-size: 22px;
}

 body, html {
    height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Sci-School BG.png");
  opacity: 80%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
* {box-sizing: border-box}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/* Container needed to position the overlay. Adjust the width as needed */
.imagetext {
  position: relative;
  width: 100%;
  max-width: 200px;
  text-align: center;
}
p{
 text-align: center;
}
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 15px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.imagetext:hover .overlay {
  opacity: 1;
}
.imagetext {
  position: relative;
  text-align: center;
  color: white;
  width: 500px;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 175px;
  background-color: #1f3b67;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #1E90FF;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #1f5d8e;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 175px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.buttun{
   margin: 70px outo 0;
 }
 .buttun a{
   width: 180px;
   text-decoration: none;
   display: inline-block;
   margin: 0 10px;
   padding: 20px 0;
   font-size: 50px;
   color: papayawhip;
   border: 4px double cornsilk;
   position: relative;
   z-index: 1;
   transition: 0.5s;
 }
 .buttun a span{
   width: 0%;
   height: 100%;
   position: absolute;
   background-color: rgba(199,213,237);
   top: 0;
   left: 0;
   z-index: -1;
   transition: 0.5s;
 }
.buttun a:hover span{
   width: 100%;
 }
 .buttun a:hover{
   color: #00B050;
 }
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body {
  --text-white: #ffffff;
  --text-dark: Black;
  --bg-white: #FAF2F0;
  --bg-dark: #272829;
  --header-white: #E4BFFE;
  --header-dark: #9C80B0;

  background-color: var(--bg-white);
}
.dark {
  --text-white: Black;
  --text-dark: #ffffff;
  --bg-white: #272829;
  --bg-dark: #FAF2F0;
  --header-white: #9C80B0;
  --header-dark: #E4BFFE;
}
